node_modules
packages/*/node_modules
packages/*/dist
packages/toolpad-app/.next
packages/toolpad-app/prisma/generated
packages/toolpad-app/public/editorRuntime
packages/toolpad-app/public/typings.json
enterprise/toolpad-ee/public/editorRuntime
enterprise/toolpad-ee/public/typings.json
.git
.env
docker
.circleci
.github