.next
.yarn
pnpm-lock.yaml
/docs/export
/docs/schemas
/packages/**/dist

build
dist

/examples/*

/test/integration/*/fixture*/
/test/visual/*/fixture*/

.generated
.github

.coverage
.tsup

# deprecated Toolpad Studio:
test
/packages/toolpad-studio/
/packages/toolpad-studio-runtime/
/packages/toolpad-studio-components/

# generated TanStack Router files
routeTree.gen.ts