.next
.yarn
pnpm-lock.yaml
/docs/export
/docs/schemas
/packages/**/dist
/packages/toolpad-studio/.next
/packages/toolpad-studio/public

build

/examples/*/toolpad.yml

/test/integration/*/fixture*/
/test/visual/*/fixture*/

.generated
.github
