.next
.yarn
pnpm-lock.yaml
/docs/export
/docs/schemas
/packages/**/dist
/packages/toolpad-app/.next
/packages/toolpad-app/public

/examples/*/toolpad.yml

/test/integration/*/fixture*/
/test/visual/*/fixture*/
