name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - 'examples/**'

permissions: {}

jobs:
  test-dev:
    if: ${{ github.event.ref == 'refs/heads/master'|| contains(github.event.pull_request.labels.*.name, 'OS testing') }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - run: echo "${{ github.actor }}"
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Use Node.js 18.x
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          node-version: 18
          cache: 'yarn' # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies
      - run: yarn install
      - run: yarn release:build
      - run: npx playwright install

      - name: Run smoke test
        run: yarn test:integration --grep backend-basic --project chromium
        env:
          TOOLPAD_TEST_RETRIES: 1

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ${{ matrix.os }}-test-results
          path: test-results/*
